@import url('https://fonts.googleapis.com/css2?family=Hind:wght@700&family=Noto+Sans+JP:wght@400;700&display=swap');

$main-color: #64629D;
$sub-color: #EDECFC;

$font-en: 'Hind', sans-serif;
$font-ja: 'Noto Sans JP', sans-serif;

$breakpoints: (
  'sp': "(max-width: 767px)", 
  'tab': "(min-width: 768px) and (max-width:1279px)", 
  'pc': "(min-width: 1280px)"
) !default;

@mixin mq($breakpoint: sp) {
		@media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}